.banner-top {
    height: 30px;
}
.menu-adm{

  > .ep_tm_key_tools {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    & li  {
        float: left;
        font-size: 13px;
        padding: 0 10px;
        border-left: 0 !important;
        width: auto;
        border-right: 1px $brand-primary solid !important;
        &:last-child{
            border-right: 0 !important;
        }
      a {
        text-align: center;
        padding: 1 4px;
        text-decoration: none;
        color: $grey-200;
      }
    }
  }
}

.toast {

    flex-basis: 350px;
    max-width: 350px;
    color: $white;
    background-color: $success;
    background-clip: padding-box;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &.showing {
        opacity: 1;
    }

    &.show {
        display: block;
        opacity: 1;
    }

    &.hide {
        display: none;
    }
}
