@font-face {
    font-family: 'Dax';
    src: url('../dax/Dax-Medium.woff2') format('woff2'),
        url('../dax/Dax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dax';
    src: url('../dax/Dax-Bold.woff2') format('woff2'),
        url('../dax/Dax-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dax';
    src: url('../dax/Dax-Light.woff2') format('woff2'),
        url('../dax/Dax-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

